<div class="container mt-4">
    <h4>Saha Listesi</h4>
    <div class="table-responsive">
        <table id="sahaTable" class="table table-striped table-hover table-bordered">
            <thead class="table-primary">
                <tr>
                    <th class="id-col">Saha Numarası</th>
                    <th>Saha Adı</th>
                    <th>Enlem</th>
                    <th>Boylam</th>
                    <th>Lokasyon</th>
                    <th>Kuyu Sayısı</th>
                    <th>Kuyu Listesi</th>
                    <th>
                        İşlemler
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>


    </div>
</div>
