<div class="container mt-4">
    <h4>Wellbore Listesi</h4>
    <div class="table-responsive">
        <table id="wellboreTable" class="table table-striped table-hover table-bordered">
            <thead class="table-primary">
                <tr>
                    <th class="id-col">Wellbore Numarası</th>
                    <th>Wellbore Adı</th>
                    <th>Enlem</th>
                    <th>Boylam</th>
                    <th>Lokasyon</th>
                    <th>Ait Olduğu Kuyu</th>
                    <th>Ait Olduğu Saha</th>

                    <th>
                        İşlemler
                    </th>
                    <th></th>
                </tr>
            </thead>

        </table>


    </div>
</div>
