@model WellboreAramaDto

<div class="col">
    <div class="card h-100 small-card shadow-sm border-0 hover-shadow">
        <div class="card-body p-2">
            <h6 class="card-title text-primary mb-1">Wellbore adı: @Model.WellboreName</h6>
            <p class="card-text mb-2 medium text-danger">
                Ait Olduğu Saha:@Model.SahaAdi
            </p>
            <p class="card-text mb-2 medium text-success">
                Ait Olduğu Kuyu:@Model.KuyuAdi
            </p>

            <a asp-controller="Wellbore" asp-action="Details" asp-route-id="@Model.WellboreId"
                class="btn btn-outline-primary btn-sm w-100">Detay</a>
        </div>
    </div>
</div>