<footer class="footer-custom mt-5 text-white py-4">
    <div class="container">
        <div class="row align-items-center gy-3">

            <div class="col-md-6">
                <div class="d-flex justify-content-center justify-content-md-start gap-3">
                    <a href="https://www.linkedin.com/company/trpetrolleri/posts/?feedView=all" target="_blank"
                        class="footer-icon-link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.instagram.com/trpetrolleri/?hl=tr" target="_blank" class="footer-icon-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.tpao.gov.tr/" target="_blank" class="footer-icon-link tpao-icon">
                        <img src="~/img/tpao.png" alt="TPAO">
                    </a>
                    <a href="@Html.Raw("https://www.youtube.com/@trpetrolleri")" target="_blank"
                        class="footer-icon-link">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <p class="text-center text-md-end mb-0">
                    © 2026 Tüm hakları saklıdır.
                </p>
            </div>

        </div>
    </div>
</footer>
