<div id="=selectCityDiv" class="container-fluid my-3 ">
    <label for="selectLocation" class="form-label">Lokasyon Seç:</label>
    <select id="selectLocation" class="form-select w-25">
        <option value="">Tüm Lokasyonlar</option>
        @foreach (var location in @Model.Locations)
        {
            <option value="@location">@location</option>
        }

    </select>
</div>
<div class="map-container mx-auto mt-3" id="map"></div>
