<div class="container mt-4">
    <h4>Kuyu Listesi</h4>
    <div class="table-responsive">
        <table id="kuyuTable" class="table table-striped table-hover table-bordered">
            <thead class="table-primary">
                <tr>
                    <th class="id-col">Kuyu Numarası</th>
                    <th>Kuyu Adı</th>
                    <th>Enlem</th>
                    <th>Boylam</th>
                    <th>Ait olduğu Saha</th>
                    <th>Wellbore Sayısı</th>
                    <th>Wellbore Listesi</th>
                    <th>
                        İşlemler
                    </th>
                    <th></th>
                </tr>
            </thead>

        </table>


    </div>
</div>
